
/*========= AC =========*/
.ii-box.acr.ac .label:before {
  content: "AC";
}
.ii-box.full.ac-en .label:before {
  content: "Atmospheric conditions";
}

/*========= AD =========*/
.ii-box.acr.ad .label:before {
  content: "AD";
}
.ii-box.full.ad-en .label:before {
  content: "Addresses";
}

/*========= AF =========*/
.ii-box.acr.af .label:before {
  content: "AF";
}
.ii-box.full.af-en .label:before {
  content: "Agricultural and\A aquaculture facilities";
}

/*========= AM =========*/
.ii-box.acr.am .label:before {
  content: "AM";
}
.ii-box.full.am-en .label:before {
  content: "Area management/restriction/\A regulation zones and reporting units";
}

/*========= AU =========*/
.ii-box.acr.au .label:before {
  content: "AU";
}
.ii-box.full.au-en .label:before {
  content: "Administrative units";
}

/*========= BR =========*/
.ii-box.acr.br .label:before {
  content: "BR";
}
.ii-box.full.br-en .label:before {
  content: "Bio-geographical regions";
}

/*========= BU =========*/
.ii-box.acr.bu .label:before {
  content: "BU";
}
.ii-box.full.bu-en .label:before {
  content: "Buildings";
}

/*========= CP =========*/
.ii-box.acr.cp .label:before {
  content: "CP";
}
.ii-box.full.cp-en .label:before {
  content: "Cadastral parcels";
}

/*========= EF =========*/
.ii-box.acr.ef .label:before {
  content: "EF";
}
.ii-box.full.ef-en .label:before {
  content: "Environmental monitoring facilities";
}

/*========= EL =========*/
.ii-box.acr.el .label:before {
  content: "EL";
}
.ii-box.full.el-en .label:before {
  content: "Elevation";
}

/*========= ER =========*/
.ii-box.acr.er .label:before {
  content: "ER";
}
.ii-box.full.er-en .label:before {
  content: "Energy resources";
}

/*========= GE =========*/
.ii-box.acr.ge .label:before {
  content: "GE";
}
.ii-box.full.ge-en .label:before {
  content: "Geology";
}

/*========= GG =========*/
.ii-box.acr.gg .label:before {
  content: "GG";
}
.ii-box.full.gg-en .label:before {
  content: "Geographical grid systems";
}

/*========= GN =========*/
.ii-box.acr.gn .label:before {
  content: "GN";
}
.ii-box.full.gn-en .label:before {
  content: "Geographical names";
}

/*========= HB =========*/
.ii-box.acr.hb .label:before {
  content: "HB";
}
.ii-box.full.hb-en .label:before {
  content: "Habitats and biotopes";
}

/*========= HH =========*/
.ii-box.acr.hh .label:before {
  content: "HH";
}
.ii-box.full.hh-en .label:before {
  content: "Human health and safety";
}

/*========= HY =========*/
.ii-box.acr.hy .label:before {
  content: "HY";
}
.ii-box.full.hy-en .label:before {
  content: "Hydrography";
}

/*========= LC =========*/
.ii-box.acr.lc .label:before {
  content: "LC";
}
.ii-box.full.lc-en .label:before {
  content: "Land cover";
}

/*========= LU =========*/
.ii-box.acr.lu .label:before {
  content: "LU";
}
.ii-box.full.lu-en .label:before {
  content: "Land use";
}

/*========= MF =========*/
.ii-box.acr.mf .label:before {
  content: "MF";
}
.ii-box.full.mf-en .label:before {
  content: "Meteorological\A geographical features";
}

/*========= MR =========*/
.ii-box.acr.mr .label:before {
  content: "MR";
}
.ii-box.full.mr-en .label:before {
  content: "Mineral resources";
}

/*========= NZ =========*/
.ii-box.acr.nz .label:before {
  content: "NZ";
}
.ii-box.full.nz-en .label:before {
  content: "Natural risk zones";
}

/*========= OF =========*/
.ii-box.acr.of .label:before {
  content: "OF";
}
.ii-box.full.of-en .label:before {
  content: "Oceanographic\A geographical features";
}

/*========= OI =========*/
.ii-box.acr.oi .label:before {
  content: "OI";
}
.ii-box.full.oi-en .label:before {
  content: "Orthoimaginary";
}

/*========= PD =========*/
.ii-box.acr.pd .label:before {
  content: "PD";
}
.ii-box.full.pd-en .label:before {
  content: "Population distribution –\A demography";
}

/*========= PF =========*/
.ii-box.acr.pf .label:before {
  content: "PF";
}
.ii-box.full.pf-en .label:before {
  content: "Production and industrial facilities";
}

/*========= PS =========*/
.ii-box.acr.ps .label:before {
  content: "PS";
}
.ii-box.full.ps-en .label:before {
  content: "Protected sites";
}

/*========= RS =========*/
.ii-box.acr.rs .label:before {
  content: "RS";
}

.ii-box.full.rs-en .label:before {
  content: "Area management/restriction/\A regulation zones and reporting units";
}
